.list {
    display: flex;
    flex-direction: column;

    color: var(--text-color);
    font-size: 14px;
}

/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
    .list {
        margin-top: 32px;
        align-items: center;
        gap: 8px;
    }
}
/* TABLET */
@media only screen and (min-width: 768px) {
    .list {
        width: 704px;
    }
}
/* DESKTOP */
@media only screen and (min-width: 1280px) {
    .list {
        width: 715px;
    }
}
