.modal_Wrap {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 13, 91, 0.23);
    backdrop-filter: blur(3.5px);
}

.modal {
    position: relative;
    width: 540px;
    border-radius: 8px;
    /* margin: 104px auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    min-height: 511px;
    background: linear-gradient(0deg, rgba(83, 61, 186, 0.8) 0%, rgba(80, 48, 154, 0.8) 36%, rgba(106, 70, 165, 0.8) 61%, rgba(133, 93, 175, 0.8) 100%);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        margin-bottom: 42px;
        color: #fbfbfb;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.modal_close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 767.98px) {
    .modal_Wrap {
        margin-top: 60px;
    }
    .modal {
        width: 100%;
        height: 100%;
        padding: 28px 20px;

        h2 {
            font-size: 24px;
        }
    }

    .modal_close {
        display: none;
    }
}
