.logOutModal {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    z-index: 150;
    background: linear-gradient(0deg, rgba(83, 61, 186, 1) 0%, rgba(80, 48, 154, 1) 43.14%, rgba(106, 70, 165, 1) 73.27%, rgba(133, 93, 175, 1) 120.03%);
    box-shadow: 0px 4px 60px 0px #00000040;
    backdrop-filter: blur(50px);
    overflow: auto;
}

.logOutModal::-webkit-scrollbar {
    display: none;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.modalContent p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    width: 240px;
}

.modalContent .buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal_close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .logOutModal {
        top: 0;
        min-height: 100vh;
        background: #220d5b3b;
        backdrop-filter: blur(3px);
        display: flex;
        justify-content: center;
        padding: 40px 118px;
    }

    .modalContent {
        background: var(--dropdown);
        box-shadow: 0px 4px 60px 0px #00000040;
        border-radius: 8px;
        min-height: fit-content;
        height: 447px;
        width: 533px;
        padding: 60px 117px;
        margin: auto 0;
        gap: 53px;
    }

    .modalContent p {
        width: 299px;
        font-weight: 400;
        letter-spacing: normal;
    }
}
