.type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 60px;
}

.type_text {
    color: #e0e0e0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.income_active {
    color: #ffb627;
}

.expense_active {
    color: #ff868d;
}

.switch__wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.switch {
    background-color: black;
    width: 80px;
    height: 40px;
    position: relative;
    background-color: transparent;
}

.switch__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
}

.switch__slider svg {
    content: '';
    position: absolute;
    cursor: pointer;
    left: -17px;
    top: -11px;
    transition: 0.4s;
}

.switch__input:checked + .switch__slider svg {
    content: '';
    transform: translateX(44px);
}

.span_text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.income_active,
.expense_active {
    transition: color 0.4s;
}

.sum_data_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
    cursor: pointer;
}

.customDatePicker {
    cursor: pointer;
}

.sum_wrap {
    position: relative;
    width: 181px;

    input {
        padding: 0;
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.4);
    }
}
.sum {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: rgba(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.sum:focus {
    caret-color: rgba(255, 255, 255, 0.6);
}

.sum::placeholder {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.data_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;

    &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    input {
        padding: 0;
        width: 93px;
        color: #fbfbfb;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
        outline: none;
        border: none;
        margin-right: 32px;
    }
}
.svg_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment {
    max-width: 394px;
    position: relative;
    margin-bottom: 48px;

    .input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .input:focus {
        caret-color: rgba(255, 255, 255, 0.6);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.comment_err {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 0;
    top: 34px;
}

.btn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.btn_add {
    background: linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;

    color: rgba(251, 251, 251, 1);
    background-image: none;
    background: linear-gradient(96.76deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%);
    transition: all 1s ease 0s;
}

.btn_add:hover,
.btn_add:focus {
    transform: translateY(-1px);
    box-shadow: 1px 9px 20px 0px rgba(0, 0, 0, 0.3);

    transform: scale(1.05);
    background-image: linear-gradient(to right, #7000ff 0%, #9e40ba 31%, #ffc727 100%);
    background-size: 200%;
    background-position: right center;
}

.btn_add:active {
    transform: translateY(2px);
    box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.4);

    transform: scale(1.08);
    font-size: 19px;
}

.btn_cancel {
    background: #fbfbfb;

    color: #623f8b;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    color: #623f8b;
    background: #fcfcfc;
}

.btn_cancel:hover,
.btn_cancel:focus {
    transform: translateY(-1px);
    box-shadow: 1px 9px 20px 0px rgba(0, 0, 0, 0.3);

    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(98, 63, 139) 31%, rgb(255, 255, 255) 100%);
    background-size: 200%;
    background-position: right center;
    transition: all 1s ease 0s;
}

.btn_cancel:active {
    transform: translateY(2px);
    box-shadow: 1px 9px 20px 0px rgba(0, 0, 0, 0.4);

    transform: scale(1.08);
    font-size: 19px;
}

.select {
    background-color: linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%);
}

.custom-select {
    width: 200px;
}

.custom-select .control {
    border: 1px solid #ccc;
}

.custom-select .option {
    background-color: #f0f0f0;
}

.custom-select .option:hover {
    background-color: #e0e0e0;
}

.date {
    padding-right: 70px;
}

@media screen and (max-width: 767.98px) {
    .form {
        width: 100%;
    }

    .switch__wrapper {
        margin-bottom: 30px;
    }

    .select_form {
        width: 100%;
    }

    .sum_data_wrap {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        width: 280px;
        margin-bottom: 48px;
    }
    .sum_wrap {
        width: 280px;
        padding: 0 20px;
    }

    .sum {
        padding: 20px;
        text-align: left;
    }
    .sum::placeholder {
        text-align: left;
    }

    .data_wrap {
        width: 280px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .customDatePicker {
        width: 100%;
    }

    .comment {
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 36px;
        padding: 0 20px;

        &::after {
            bottom: 0px;
        }
    }

    .comment_bottom {
        width: 280px;
        margin: 0 auto;
        margin-bottom: 92px;
        padding: 0 20px;

        &::after {
            bottom: -52px;
        }
        .input {
            width: 100%;
        }
    }

    .btn {
        width: 280px;
    }
    .calendarClassName {
        position: absolute;
        left: 57px;
    }
}
