.switch__wrapper {
    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.switch {
    background-color: black;
    width: 80px;
    height: 40px;
    position: relative;
    background-color: transparent;
}

.switch__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
}

.switch__slider svg {
    content: '';
    position: absolute;
    cursor: pointer;
    left: -17px;
    top: -11px;
    transition: 0.4s;
}

.switch__input:checked + .switch__slider svg {
    content: '';
    transform: translateX(44px);
}

.span_text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.income_active,
.expense_active {
    transition: color 0.4s;
}

.income_active {
    color: #ffb627;
}

.expense_active {
    color: #ff868d;
}
