.switch__wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.switch {
    background-color: black;
    width: 80px;
    height: 40px;
    position: relative;
    background-color: transparent;
}

.switch__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
}

.switch__slider svg {
    content: '';
    position: absolute;
    cursor: pointer;
    left: -17px;
    top: -11px;
    transition: 0.4s;
}

.switch__input:checked + .switch__slider svg {
    content: '';
    transform: translateX(44px);
}

.span_text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.income_active,
.expense_active {
    transition: color 0.4s;
}

.income_active {
    color: #ffb627;
}

.expense_active {
    color: #ff868d;
}

.sum_data_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.sum_wrap {
    width: 181px;

    input {
        width: 181px;
    }
}

.data_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 33px; */

    input {
        width: 93px;
        color: #fbfbfb;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
        outline: none;
        border: none;
        margin-right: 32px;
    }
}
.svg_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-datepicker-wrapper {
    display: inline-block; /* Делает контейнер DatePicker встроенным */
    width: 100%; /* Установите ширину по вашему усмотрению */
}

.react-datepicker {
    font-family: inherit; /* Использует шрифт родительского элемента */
}

.react-datepicker__input-container {
    display: inline-block; /* Делает контейнер ввода встроенным */
    width: 100%; /* Установите ширину по вашему усмотрению */
}

.react-datepicker__input-container input {
    width: 100%; /* Установите ширину по вашему усмотрению */
    height: 100%; /* Установите высоту по вашему усмотрению */
    padding: 8px; /* Добавляет внутренний отступ для ввода */
    box-sizing: border-box; /* Учитывает отступ в размере */
}

.react-datepicker__portal {
    z-index: 9999; /* Устанавливает z-index, чтобы DatePicker был выше других элементов */
}
