.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
    .container {
        margin-top: 12px;
    }
    .column_narrow {
        display: none;
    }
    .column {
        padding: 0px 20px 120px;
    }
}
/* TABLET */
@media only screen and (min-width: 768px) {
    .container {
        gap: 20px;
        padding: 0 32px 56px;
    }
    .column_narrow {
        padding-top: 0px;
    }
    .column {
        overflow: hidden;
    }
}

/* TABLET ONLY */
@media only screen and (min-width: 768px) and (max-width: 1279.98px) {
    .column_narrow {
        display: grid;
        gap: 28px 32px;
        align-items: flex-end;
        justify-content: center;
        grid-template-areas: 'auto currency' 'navigation currency' 'balance currency';
    }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0;
        flex-direction: row;
        gap: 60px;
    }
    .column_narrow {
        padding-top: 40px;
        position: relative;
    }
    .column_narrow::after {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background-color: var(--text-rgba);
        position: absolute;
        top: 0;
        right: 0;
    }
    .column {
        padding-top: 40px;
        padding-right: 25px;
        flex-grow: 1;
    }
}
