.row {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    color: var(--text-color);

    position: relative;
}

.row::after {
    display: block;
    content: '';
    width: calc(100% - 40px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.41);

    position: absolute;
    bottom: 0;
}

.row:last-child::after {
    display: none;
}

.btn_edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    stroke: var(--text-color);
    size: 14px;
    width: 14px;
    height: 14px;
}

.colored {
    color: rgba(251, 251, 251, 1);
    background-image: none;
    background: linear-gradient(96.76deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%);
    transition: all 1s ease 0s;
}

@media (hover: hover) {
    .colored:hover,
    .colored:focus {
        transform: scale(1.05);
        background-image: linear-gradient(to right, #7000ff 0%, #9e40ba 31%, #ffc727 100%);
        background-size: 200%;
        background-position: right center;
    }

    .colored:active {
        transform: scale(1.08);
        font-size: 19px;
    }

    .btn_edit:hover,
    .btn_edit:focus {
        & .edit {
            stroke: #ffc727;
        }
    }
}

/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
    .card {
        width: 280px;
        min-height: 293px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;

        &::before {
            display: block;
            content: '';
            width: 5px;
            height: 100%;
            background-color: currentColor;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .row {
        justify-content: space-between;
    }

    .row_item:nth-child(2n) {
        text-align: end;
    }
}
/* TABLET */
@media only screen and (min-width: 768px) {
    .row {
        display: flex;
        align-items: center;
        padding: 16px 20px;
        gap: 8px;

        position: relative;
    }

    .row_item {
        text-wrap: wrap;
        color: var(--text-color);
    }

    .row_item:first-child {
        max-width: 105px;
        min-width: 105px;
        margin-left: 0;
        flex-grow: 3;
    }
    .row_item:nth-child(2) {
        max-width: 56px;
        min-width: 56px;
        text-align: center;
    }
    .row_item:nth-child(3) {
        max-width: 130px;
        min-width: 130px;
        flex-grow: 2;
    }
    .row_item:nth-child(4) {
        max-width: 150px;
        min-width: 150px;
        flex-grow: 2;
    }
    .row_item:nth-child(5) {
        width: 88px;
        text-align: center;
        font-weight: 600;
        color: currentColor;
    }

    .controls {
        display: flex;
        gap: 8px;
        align-items: center;
    }
}
/* DESKTOP */
@media only screen and (min-width: 1280px) {
}
