.input {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 280px;
    padding: 5px 0 5px 55px;
    border: none;
    outline: none;
    background-color: transparent ;
    border-bottom: 1px solid #ccc;
    color:  var(--text-rgba);
    font-size: 18px;
    transition: border 250ms var(--transition-timing);
}

.input:focus,
  .input:hover {
    border-bottom: 1px solid var(--yellow-color);
  }

.field{
   position: relative;
  }

@media screen and (min-width: 768px) {
.input {
 width: 409px;
}
}

.input::placeholder {
    font-size: 18px;
    color: var(--text-rgba);
}

.icon {
    position: absolute;
    left: 10px;
    top: 1px;
    width: 24px;
    height: 24px;
    fill: var(--text-rgba);
   
}

 @media screen and (min-width: 768px) {
.icon {
  top: 37px;
}
}

.iconPassword{
    cursor: pointer
}

.errorMessage{
  color: var(--red-color);
  font-size: 12px;
}




 