.formWrapper{
    display: flex;
    padding: 20px;
    text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.icon_mob{
  width: 130px;
}

@media screen and (min-width: 768px) {
  .icon_mob{
  width: 182px;
}
}

.passwordBar{
  display: inline-block;
  width: 100%;
  height: 20px;
}


@media screen and (min-width: 768px) {
.register {
  background-image: url("../../../public/img/register-tablet.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
}

@media screen and (min-width: 768px) {
.login {
  background-image: url("../../../public/img/login-tablet.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
}

@media screen and (min-width: 1280px) {
.register {
  background-image: url("../../../public/img/register-desktop.webp");
 
}
}

@media screen and (min-width: 1280px) {
.login {
  background-image: url("../../../public/img/login-desktop.webp");
 
}
}



 @media screen and (min-width: 768px) {
   .form {
    padding: 40px ;
    display: flex;
      flex-direction: column;
     align-items: center;
  justify-content: center;
     text-align: center;
    width: 533px;

 background: var(--bg-form);
 border-radius: 8px;
box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(50px);
 }
}

.button_main, .button_secondary {
    display: block;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
    border: none;
}

.button_main {
    margin-bottom: 20px;
    background: var(--button-gradient);
    color: var(--white-color);
    margin-top: 40px;
}




.button_secondary {
   background: var(--button-color);
}

@media (hover: hover) {
    .colored:hover,
    .colored:focus {
        transform: scale(1.05);
        background-image: linear-gradient(to right, #7000ff 0%, #9e40ba 31%, #ffc727 100%);
        background-size: 200%;
        background-position: right center;
    }

    .colored:active {
        transform: scale(1.08);
        font-size: 19px;
    }


.whiteButton:hover,
.whiteButton:focus {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(98, 63, 139) 31%, rgb(255, 255, 255) 100%);
    background-size: 200%;
    background-position: right center;
    transition: all 1s ease 0s;
}

.whiteButton:active {
    transform: scale(1.08);
    font-size: 19px;
}
}



@media screen and (max-width: 767.98px) {
    .button_main, .button_secondary {
        width: 280px; 
    }
}
