.heading {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
}

/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .heading {
        align-self: flex-start;
        margin-top: 28px;
    }
}
/* TABLET */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .column:last-child {
        margin-top: 20px;
    }
}
