.heading {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
}

/* TEMP classes */
.temp_chart {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: cadetblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.temp_selectors {
    width: 280px;
    height: 120px;
    background-color: darkgoldenrod;

    display: flex;
    justify-content: center;
    align-items: center;
}

.temp_table {
    width: 280px;
    height: 350px;
    background-color: darkslategrey;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*end TEMP classes */

/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .heading {
        align-self: flex-start;
    }
}
/* TABLET */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .column:last-child {
        margin-top: 20px;
    }

    /* TEMP classes */
    .temp_chart {
        width: 336px;
        height: 336px;
    }

    .temp_selectors {
        width: 336px;
        height: 50px;
    }

    .temp_table {
        width: 336px;
        min-height: 400px;

        flex-grow: 1;
    }
    /*end TEMP classes */
}


