.currency_wrapper {
    max-width: 320px;
    color: #fbfbfb;
    background-color: rgba(74, 86, 226, 0.1);
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    grid-area: currency;
}

.currency_table {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currency_table_head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
    letter-spacing: -0.05px;
}

.table_body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.currency_tr {
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
    font-size: 16px;
    margin-left: 20px;
}

img {
    width: 320px;
}

.diagram {
    position: relative;
}

.lowerNumber {
    position: absolute;
    top: 10px;
    left: 40px;

    color: #ff868d;
    font-size: 12px;
    font-weight: 400;
}

.higherNumber {
    position: absolute;
    top: -18px;
    right: 92px;
    color: #ff868d;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .currency_wrapper {
        border-radius: 0px 0px 8px 8px;
        gap: 12px;
        margin-top: 0;
        max-width: 336px;
    }

    .currency_table_head {
        justify-content: center;
        gap: 35px;
    }

    .currency_item:nth-child(3) {
        margin-left: 15px;
    }
    .currency_tr {
        gap: 65px;
        justify-content: space-around;
    }

    img {
        width: 336px;
        height: 88px;
    }
}

@media screen and (min-width: 1280px) {
    .currency_wrapper,
    .currency_table_head {
        border-radius: 8px;
    }
    .currency_wrapper {
        margin-top: 35px;
        max-width: 480px;
        height: 340px;
    }

    .currency_table {
        max-width: 480px;
    }
    .currency_table_head {
        height: 56px;
        margin-bottom: 24px;
        padding-left: 95px;
        justify-content: flex-start;
    }
    .table_body {
        margin-bottom: 15px;
    }
    .currency_tr {
        padding: 0 20px 0;
        margin-bottom: 14px;
        margin: 0;
    }
    img {
        width: 480px;
        height: 167px;
    }
}
