.balance {
    background: rgba(82, 59, 126, 0.6);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 32px 11.2px 32px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-self: center;
    width: 100%;
    grid-area: balance;
}

.balance h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

.balance p {
    color: #fbfbfb;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.balance p span {
    font-weight: 700;
    color: #fbfbfb;
}

@media screen and (min-width: 768px) {
    .balance {
        width: 336px;
        padding: 8px 40px 11.2px 40px;
        align-self: start;
    }
}

@media screen and (min-width: 1280px) {
    .balance {
        width: 480px;
    }
}
