@import url(./utils/variables.css);

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: 400;
    overflow: hidden;

    color: var(--text-color);
    background-color: black;
    background-image: url('../public/img/gradient-desktop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 767.98px) {
    :root {
        overflow: auto;
        background-image: url('../public/img/gradient-mobile.webp');
    }
}
@media only screen and (min-width: 768px) {
    :root {
        background-image: url('../public/img/gradient-tablet.webp');
    }
}
@media only screen and (min-width: 1280px) {
    :root {
        background-image: url('../public/img/gradient-desktop.webp');
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
